@import url(./pagefind.css);
@font-face {
    font-family: "beebee";
    font-weight: 400;
    src: url("/static/font/beebee.woff") format("woff");
    font-display: swap;
}

:root {
    --vp-c-brand: #0057ff;
    --vp-c-brand-1: #0057ff;
    --vp-c-brand-2: #0057ff;
    --vp-font-family-base: Fira Code, -apple-system, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica, Arial, sans-serif;
    --vp-layout-max-width: 1480px;   /*官方默认 1440px*/
    --swiper-theme-color: var(--vp-c-brand);
    --fancybox-accent-color: var(--vp-c-brand-1);
    --bgfilter: rgba(255,255,255,.9);
}

.dark {
    --bgfilter: rgba(27,27,31,.9);
}

[aria-label="red"] {
    color: #f00 !important;
  }

.Layout {
    min-height: calc(100vh - 78px);
}

.VPNavBarTitle .title,
.site-footer .title {
    font-family: "beebee", var(--vp-font-family-base);
}

.VPNavBarTitle .title {
    font-size: 17px;
}

.vp-doc a {
    color: var(--vp-c-text-1);
    font-weight: 500;
    text-decoration: none;
}

.vp-doc h1:first-child {
    display: none;
}

.vp-doc img {
    border-radius: 12px;
    border: 5px solid var(--vp-c-bg-alt);
    box-shadow: var(--vp-shadow-1);
    cursor: zoom-in;
}

.VPDoc {
    padding: 32px 24px 24px !important;
    width: 100%;
}

.bgimg {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.postlist.grid {
    display: grid;
    row-gap: 1.1rem;
    column-gap: 1.1rem;
}

.VPDoc.has-aside .content-container {
    max-width: 100% !important;
}
.fireworkwrap {
    display: none;
}

@media (min-width: 550px) {
    .postlist.grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 768px) {
    .VPDoc {
        padding: 48px 32px 32px !important;
    }

    .VPDoc.has-aside:not(.has-sidebar) .postlist.grid,
    .VPDoc.has-sidebar:not(.has-aside) .postlist.grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .VPDoc.has-sidebar:not(.has-aside) .postlist.grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .VPDoc:not(.has-sidebar):not(.has-aside) .postlist.grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 960px) {
    .VPNavBar:not(.top) .content-body {
        position: relative;
        background-color: var(--bgfilter)!important;
        backdrop-filter:blur(8px);
    }
    .fireworkwrap {
        display: block;
    }
    .VPDoc .container>.content {
        padding: 0 32px 32px;
    }

    .VPSidebar {
        min-height: calc(100% - var(--vp-nav-height));
        padding-bottom:32px!important;
    }

    .home .VPDoc:not(.has-sidebar):not(.has-aside) .container {
        max-width: calc(var(--vp-layout-max-width) - 64px);
    }

    .home .VPDoc .content {
        max-width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .home .VPDoc.has-aside:not(.has-sidebar) .container {
        max-width: calc(var(--vp-layout-max-width) - 64px);
    }

    .home .VPDoc:not(.has-sidebar) .container .content {
        max-width: 100%;
    }


    .VPDoc.has-aside:not(.has-sidebar) .postlist.grid,
    .VPDoc.has-sidebar:not(.has-aside) .postlist.grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .VPDoc:not(.has-sidebar):not(.has-aside) .postlist.grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 1100px) {
    .home .VPDoc:not(.has-sidebar):not(.has-aside) .container {
        max-width: calc(var(--vp-layout-max-width) - 64px);
    }

    .home .VPDoc.has-aside:not(.has-sidebar) .container {
        max-width: calc(var(--vp-layout-max-width) - 64px);
    }

    .home .VPDoc:not(.has-sidebar) .container .content {
        max-width: 100%;
    }

    .VPDoc.has-aside:not(.has-sidebar) .postlist.grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .VPDoc.has-aside.has-sidebar .postlist.grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .VPDoc.has-sidebar:not(.has-aside) .postlist.grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .VPDoc:not(.has-sidebar):not(.has-aside) .postlist.grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media (min-width: 1280px) {
    .home .VPDoc:not(.has-sidebar):not(.has-aside) .container {
        max-width: calc(var(--vp-layout-max-width) - 64px);
    }

    .home .VPDoc.has-aside:not(.has-sidebar) .container {
        max-width: calc(var(--vp-layout-max-width) - 64px);
    }

    .home .VPDoc:not(.has-sidebar) .container .content {
        max-width: 100%;
    }

    .VPDoc.has-aside:not(.has-sidebar) .postlist.grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .VPDoc.has-aside.has-sidebar .postlist.grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }


    .VPDoc.has-sidebar:not(.has-aside) .postlist.grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .VPDoc:not(.has-sidebar):not(.has-aside) .postlist.grid {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}

@media (min-width: 1440px) {
    .home .VPDoc:not(.has-sidebar):not(.has-aside) .container {
        max-width: calc(var(--vp-layout-max-width) - 64px);
    }

    .home .VPDoc.has-aside:not(.has-sidebar) .container {
        max-width: calc(var(--vp-layout-max-width) - 64px);
    }

    .home .VPDoc:not(.has-sidebar) .container .content {
        max-width: 100%;
    }

    .VPDoc.has-aside:not(.has-sidebar) .postlist.grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .VPDoc.has-aside.has-sidebar .postlist.grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }


    .VPDoc.has-sidebar:not(.has-aside) .postlist.grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .VPDoc:not(.has-sidebar):not(.has-aside) .postlist.grid {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}

.VPBadge {
    display: inline-block;
    margin-left: 2px;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 0 8px;
    line-height: 17px;
    font-size: 10px;
    font-weight: 500;
}

.VPBadge.mini {
    transform: translateY(-5px) scale(1);
    transform-origin: left center;
}

.VPBadge.tip {
    border-color: var(--vp-badge-tip-border);
    color: var(--vp-badge-tip-text);
    background-color: var(--vp-badge-tip-bg);
}

.VPBadge.warning {
    border-color: var(--vp-badge-warning-border);
    color: var(--vp-badge-warning-text);
    background-color: var(--vp-badge-warning-bg);
}

.VPBadge.danger {
    border-color: var(--vp-badge-danger-border);
    color: var(--vp-badge-danger-text);
    background-color: var(--vp-badge-danger-bg);
}

.VPBadge.info {
    border-color: var(--vp-badge-info-border);
    color: var(--vp-badge-info-text);
    background-color: var(--vp-badge-info-bg);
}

.repeatbg {
    background-image: linear-gradient(135deg,
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.2) 25%,
            rgba(255, 255, 255, 0) 25%,
            rgba(255, 255, 255, 0) 50%,
            rgba(255, 255, 255, 0.2) 50%,
            rgba(255, 255, 255, 0.2) 75%,
            rgba(255, 255, 255, 0) 75%,
            rgba(255, 255, 255, 0) 100%);
    background-size: 30px 30px;
}

.v-popper--theme-tooltip .v-popper__inner {
    font-size: 12px;

}

.v-popper--theme-dropdown .v-popper__inner,
.specialpop {
    background-color: var(--vp-c-bg);
    color: var(--vp-c-text-1);
    ;
    border-radius: 6px;
    border: 1px solid var(--vp-c-gutter);
    box-shadow: 0 6px 30px #0000001a;
}

.v-popper--theme-dropdown .v-popper__arrow-inner {
    border-color: var(--vp-c-bg);
}

.v-popper--theme-dropdown .v-popper__arrow-outer {
    border-color: var(--vp-c-gutter);
}

.aside .aside-container {
    position: sticky;
    padding-top: 0px;
    top: calc(var(--vp-nav-height) + var(--vp-layout-top-height, 0px) + var(--vp-doc-top-height, 0px) + 32px);
    height: auto;
    overflow-y: hidden;
}

.Vue-Toastification__toast--default {
    background-color: var(--vp-c-brand);
    backdrop-filter: blur(20px);
}

p.icons img {
    display: inline;
    margin-right: 5px;
}

.aside-content {
    min-height: auto !important;
}

.VPNavBar .divider,.curtain {
    display: none !important;
}

.VPNavBarTitle .title {
    border-bottom: none !important;
}

.VPDoc.has-aside .content-container .main img {
    width: 100%;
}